body{
    background-color: #E3F2FD;
    background-size: cover;
    font-family: sans-serif;
}

.container{
    width: 530px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    margin-top: 150px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background-color: #2C3E50; 
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
  }
  
  nav {
    text-align: center;
    position: relative;
    bottom: 25px;
    right: 35px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    margin: 10px;
    position: relative;
    top: 35px;
    transition: color 0.3s, transform 0.3s;
  }
  
  nav a::after {
    content: "";
    position: absolute;
    background-color: #FFD700; 
    width: 0px;
    height: 2px;
    left: 0;
    bottom: -20px;
    transition: 0.6s;
  }
  
  nav a:hover {
    color:  #27ae60; 
  }
  
  nav a:hover::after {
    width: 100%;
  }

#headP{
    color:  #2C3E50;
    font-size: 30px;
    text-align: center;
    position: relative;
    right: 10px;
    top: 45px;
    font-weight: bold;
}

#headP2{
    position: relative;
    text-align: center;
    top: 50px;
    right: 5px;
    font-size: 14px;
}

input{
    display: block;
    margin: 20px;
    position: relative;
    left: 80px;
    top: 60px;
    padding: 15px 85px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 3px #2C3E50;   
}

.p-div{
    position: relative;
    top: 20px;
}


input::placeholder{
    position: relative;
    right: 45px;
    color: #aaa;
}



#spec{
    top: 257px;
    left: 45px;
}

#btn{
    position: relative;
    width: 200px;
    height: 45px;
    left: 165px;
    background:linear-gradient(#2C3E50,#8b8b91);
    cursor: pointer;
    color: white;
    border-radius: 20px;
    top: 65px;
    border: none;
}


#footP{
    position: relative;
    text-align: center;
    top: 60px;
    font-size: 15px;
    left: 5px;
}

a{
    text-decoration: none;
}

#specA{
    position: relative;
    left: 770px;
    top: 15px;
    text-transform: capitalize;
    color: #FFD700;
}

#checkbox{
    box-shadow: none;
    position: relative;
    left: 100px;
}

#checkP{
    position: relative;
    top: 25px;
    left: 145px;
    font-size: 15px;
}

.fa-lock{
    position: relative;
    top: 112px;
    left: 116px;
    z-index: 1;
    color: #2C3E50;
}

#spec{
    top: 178px;
    left: 97px;
}

#footP a{
    color: blue;
}

#footP{
    position: relative;
    top: 80px;
}