body {
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;  
    justify-content: center;  
    background-color:  hsl(0, 0%, 100%);  
    padding: 20px; 
    position: relative;
    top: -10px;
  }

  nav a{
    position: relative;
    top: 7px;
  }


  
  .recipes-title {
    text-align: center; 
    font-size: 36px; 
    color: rgb(84, 50, 50);
    margin-top: 20px; 
    font-weight: 700; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

nav a::after{
    content: "";
    position: absolute;
    background-color: black; 
    width: 0px;
    height: 2px;
    left: 0;
    bottom: -10px;
    transition: 0.6s;
}

nav a:hover {
    color: black; 
  }

.nav-link {
    color: rgb(0, 0, 0);  
    text-decoration: none; 
    padding: 15px 20px;  
    font-size: 18px; 
    margin: 0 10px;  
    display: block;  
    transition: background-color 0.3s;  
}

  
nav a:hover::after {
    width: 100%;
  }
  
.container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
    padding: 20px;
    align-items: flex-start;
    flex-direction: row;
}


.card {
    background-color: hsl(0, 0%, 100%);
    width: 100%; 
    max-width: 300px; 
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
}


img {
    width: 100%;
    border-radius: 10px;
}


h1 {
    font-family: 'YoungSerif';
    font-size: 22px;
    color: hsl(24, 5%, 18%);
    margin-top: 15px;
}


p {
    font-size: 14px;
    color: hsl(24, 5%, 18%);
    margin-top: 10px;
}

.time, .ingredient, .instru, .nutri {
    margin-top: 20px;
}

.time h3, .ingredient h2, .instru h2, .nutri h2 {
    font-weight: 700;
    color: hsl(14, 45%, 36%);
}

ul, ol {
    padding-left: 0;
}

li {
    margin-left: 1em;
}

li::marker {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.divider {
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 15px 0;
}

.tdborder {
    border-bottom: 1px solid black;
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}